@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  background-image: url(../public/main.webp);
  background-color: rgba(0, 0, 0, 0.9);
}

.background-image-contact {
  background-image: url(../public/worker3.webp);
  background-color: rgba(0, 0, 0, 0.9);
}

.background-image-service1 {
  background-image: url(./worker.webp);
  background-color: rgba(0, 0, 0, 0.9);
}

.background-rgba {
  background-image: transparent;
  background-color: rgba(0, 0, 0, 0.9);
}

.hover-gold:hover {
  background-color: #cbb26a;
}

.bg-img {
  background-image: linear-gradient(
    to right,
    rgb(0 0 0 / 0.5),
    rgb(0 0 0 / 0.6)
  );
}

/* Carousel */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

input[type="radio"] {
  display: none;
}
